:root{
  --coral: #e85a4f;
  --coral: #15f87b;
  --coral-light: #f1aaa4;
  --coral-light: #efcdca;
  --light-gray: #aaa5ab;
  --gray: #ece5ec;
  --cyan: #3a30f5;
  --blue: #76ade8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* background: rgb(240, 129, 121); */
    /* background-image: linear-gradient(to right,rgb(245, 134, 143), rgb(216, 176, 239)); */
    background: rgb(40, 40, 117);
    background: #202023;
    background-image: linear-gradient(rgb(4, 88, 171), rgb(7, 124, 89));
    background: rgb(4, 88, 171);
    /* background: firebrick; */
    /* background-image: linear-gradient(to right, rgb(67, 166, 215), rgb(249, 132, 237)); */
    /* background: #eae1dc; */
}
